.form {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: fit-content;
    padding: 15px;
}
#output {
    border: 1px solid black;
}